<!DOCTYPE html>
<html lang ="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <title>Pharmabot Login Form</title>
    <link rel="stylesheet"  href="/style.css">
    </head>
<body>  
    <div class="pharmabot-register-form">
   
    <form action="/auth/register" method="POST"> 
       
            {{#if message }}
    <h4 class = "alert alert-danger mt-4" role = "alert">{{message}}</h4>
    {{/if}}
    
        
        <div id = registration-form>
        <img src="../img/uniLogo.jpg" alt="uni-logo" class="logo-registration">
           
       <form action="/auth/register" method="POST" class = "registration-form">
           
        <div class="Input-Fields">
            <label>Name :</label>
            <input type="text" name="name" placeholder="Enter Your Name">
        </div>
        <div class="Input-Fields">
            <label>Student ID :</label>
            <input type="number" name="studentId" placeholder="Enter Your Student ID">
        </div>
        <div class="Input-Fields">
            <label>Email :</label>
            <input type="text" name="email" placeholder="Enter Your Email">
        </div>
        <div class="Input-Fields">
            <label>Password :</label>
            <input type="password" name="password" placeholder="Enter Your Password">
        </div>
        <div class="Input-Fields">
            <label>Confirm Password :</label>
            <input type="password" name="passwordConfirm" placeholder="Enter Your Password">
        </div>
        <p><span><input type="checkbox" required></span>I accept the Terms of Service & Acknowledge that data is being collected from me</p>
        <div class="Input-Fields">
            <button type="submit" name="register" class="btn">Register</button>
        </div>
        </form>
        
        <div class = notyetmember>
        <p class=nymheading>Already have an account?</p>
        <a href ="/login" class="nymlink">Login</a>
        </div>
        </div>
        </form> 
       
        </div>
    
    </div>
</body>
</html>